body {
    background-color: #000000;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.panel {
    background-color: burlywood;
    margin: 20px 0 0 0;
    text-indent: 10px;
    border-bottom-style: none;
}

.panel-body {
    background-color: rgba(219, 196, 196, 0.38);
    margin: 20px 0 0 0;
    text-indent: 10px;
    color: rgb(240, 234, 234);
}

.navbar {
    background-color: coral;
}

.well {
    width: 1000px;
    background-color: rgba(97, 97, 97, 0.38);
}

.well-vote {
    width: 75px;
    text-align: center;
    float: left;
    height: 99px;
}

.well-session {

    width: 700px;
    float: left;
    margin-bottom: -3px;
}

li {
    display: inline;
}

.voteBtn {
    position: relative;
    right: 9px;
}

.badge {
    margin-bottom: 2px;
    padding-left: 0px;
}


.angularImg {
    width: 420px;
    display: inline-block;
}

.headerTitle {
    display: inline-block;
}

.blue{
    color: blue;
}

.input-sm, .input-lg{
    color: black;
}
